/* body */
body {
    margin: 0;
    font-family: Verdana;
}

/* header */
header {
    height: 70px;
    background-color: white;
    box-shadow: grey 0 0 4px 0;
}

/* Login box */
.login-box {
    float: left;
    box-shadow: grey 0 0 2px 0;
    width: 525px;
    height: 250px;
    margin: 50px 25px 0 75px;
    padding: 20px;
}

#login-username, #login-pass {
    height: 30px;
    width: 470px;
    margin: 15px;
    padding-left: 20px;
}

#login-box-forget {
    text-decoration: none;
    color: grey;
    float: left;
    margin: 32px 15px;
}

#login-button {
    float: right;
    margin: 24px 17px;
    padding: 10px 10px 9px 10px;
    width: 100px;
    color: white;
    background-color: #b6aaff;
    border: 1px solid grey;
}

/* Registration box */
.registration-box {
    float: left;
    box-shadow: grey 0 0 2px 0;
    width: 500px;
    height: 50px;
    margin: 50px 25px 0 75px;
    padding: 35px 30px 15px 35px;
    font-size: 25px;
}

/* Ads box */
.ads-box {
    float: right;
    box-shadow: grey 0 0 2px 0;
    width: 540px;
    height: 400px;
    margin: 50px 75px 50px 25px;
}

#ads-img {
    width: 540px;
    height: 440px;
}

/* Benefits container */
.benefits-container {
    height: 300px;
    margin-left: 51px;
}

.benefit-box {
    box-shadow: grey 0 0 2px 0;
    float: left;
    text-align: center;
    height: 200px;
    width: 300px;
    margin: 0 25px;
    padding: 26px;
}

.benefit-title {
    font-weight: bold;
    font-size: 20px;
}

/* footer */
footer {
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: grey 0 0 3px 2px;
    padding-left: 20px;
}

.footer-box {
    padding: 41px 56px;
    float: left;
}

#regulations {
    color:lightgray;
}

#footer-img {
    float: right;
    width: 190px;
    padding: 9px 75px;
}